$white: #fff;
$black: #000;
$black-trans: rgba(0, 0, 0, 0.36);
$tan: #ffebcc;
$green: #8bb099;
$red: #f2655b;
$yellow: #ffce6f;
$dropShadow: 0 1px 6px 0 $black-trans;
$dropShadowReverse: 0 -1px 6px 0 $black-trans;
