$white:   #fff;
$black:   #000;

// Status Colors
$status-green:      #64a338;
$status-yellow:     #fc0;
$status-red:        #e03b24;
$status-blue:       #3865a3;
$status-blue-light: #87a2c7;
$status-grey:       #cdcdcd;
