/**
  Global Body & Wrappers
  ---------------------------------------------------------------------- */
html,
body {
  max-width: 100%;
}

%container {
  position: relative;
  z-index: 0;
  padding-bottom: 17vw;
  min-height: 100vh;
  min-width: 100vw;
}

/**
  Global Link Defaults
  ---------------------------------------------------------------------- */
a {
  text-decoration: none;
}

@include linkColor($black, all);
