/**
  Header Navigation Icons
  ---------------------------------------------------------------------- */
.nav-header {
  position: fixed;
  z-index: 999;
  top: 5vw;
  width: 10vw;

  img,
  span {
    height: 7.5vw;
    margin: 0 auto;
  }

  img {
    position: relative;
    z-index: 1;
    display: block;
    width: auto;
  }

  &::before {
    position: fixed;
    top: -5vw;
    z-index: 0;
    content: '';
    display: block;
    background-color: $black;
    width: 80vw;
    height: 30vw;
    box-shadow: $dropShadow;
  }
}

$headerIconOffset: 80vw;
$headerIconOffsetImage: 3.5vw;
$headerIconOffsetBgX: 5vw;
$headerIconOffsetBgY: 12.5vw;
$headerIconOffsetBgR: 45deg;

#nav-calendar {
  right: $headerIconOffset;
  left: $headerIconOffsetImage;

  &::before {
    right: $headerIconOffset;
    transform: rotate(-$headerIconOffsetBgR) translate(-$headerIconOffsetBgX, $headerIconOffsetBgY);
  }
}

#nav-search {
  left: $headerIconOffset;
  right: 0;

  img {
    margin-left: auto;
    margin-right: -5vw;
  }

  &::before {
    left: $headerIconOffset;
    transform: rotate($headerIconOffsetBgR) translate($headerIconOffsetBgX, $headerIconOffsetBgY);
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
